<div class="container">
    <div class="row">
        <div class="col-md-5 offset-md-3">
            <div class="card card-body bg-dark p-4 text-white rounded-0">
                <h1>Update a task</h1>
                <form action="/edit/task/{{_id}}" method="POST">
                    <div>
                        <label for="title"> Write a title</label>
                        <div class="mb-3">
                            <input type="text" name="title" placeholder="title" id="title" value={{title}}
                                class="form-control rounded-0 bg-dark text-white" />
                        </div>

                    </div>
                    <div>
                        <label for="description">Description</label>
                        <div class="mb-3">
                            <textarea name="description" placeholder="Description" id="description"
                                class="form-control rounded-0 bg-dark text-white">{{description}}</textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Update</button>
                </form>
            </div>
        </div>
    </div>

</div>