<div class="card card-body p-4 rounded-0 bg-dark text-white">
    <h3>Add a Tasks</h3>
    <form action="/task/add" method="POST">
        <div>
            <label for="title"> Write a title</label>
            <input type="text" name="title" placeholder="title" id="title" class="form-control rounded-0 " />

        </div>
        <div>
            <label for="description">Description</label>
            <textarea name="description" placeholder="Description" id="description"
                class="form-control rounded-0"></textarea>
        </div>
        <button type="submit" class="btn btn-primary btn-sm mt-2">Add</button>
    </form>
</div>